/*************************************
   WELCOME TO THE CUSTOM STYLESHEET
--------------------------------------
              style.css
        BlueTrip CSS Framework
    Put your custom styles in here.
***************************************/

/**************************************/
/*           COLOR SCHEME             */
/**************************************
- black		#000
- white		#fff
-           #
-           #
-           #
***************************************/


/**************************************/
/*              GLOBALS               */
/**************************************/
body{
    background-image:url(../imagenes/diagonal.png);
}

.tablaseleccion {
    font-family: "Lucida Sans Unicode", Sans-Serif;
    font-size: 11px;
    width: 700px;
    text-align: left;
}
.tablaseleccion th {
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    /*background: #FFC268;*/
    background: #A7AADD;
    border-top: 2px solid #24618E;    
    border-bottom: 1px solid #fff;
    color: #039;
}
.tablaseleccion td {
    padding: 8px 8px 1px 8px;
    /*background: #FCFDD1;*/
    background:#E9ECFF;
    border-bottom: 2px solid #fff;
    color: #669;
    border-top: 1px solid transparent;
	height: 1em;
}

a.actualiza, a.elimina, a.adiciona, a.vista, a.descarga {
	font-size: 8pt;
	color:#900;
	font-weight:bold;
	padding-left:18px;
	text-decoration: none;
}

a.actualiza {
	background:url(../imagenes/update.png) left center no-repeat;
}
a.descarga {
	background:url(../imagenes/descarga.png) left center no-repeat;
}
a.elimina {
	background:url(../imagenes/delete.png) left center no-repeat;
}
a.adiciona {
	background:url(../imagenes/add.png) left center no-repeat;
}
a.vista {
	background:url(../imagenes/view.png) left center no-repeat;
}

/**************************************/
/*              HEADER                */
/**************************************/
#cabecera{
    height: 120px;
    width: 100%;
    margin: 0px 0px 0px 0px;
}
#cabecera hr {
    background-color: #fff;
    color: #001b3c;
    height: 3px;
}
#cabecera h1{
    color:#fff;
    text-transform: uppercase;
    text-align: center;
    font-family: monaco, "Lucida Console", courier, monospace;
}
#titulou{
    height: 119px;
    width: 100%;
    background-image: url(../imagenes/banner.jpg);
    
    background-repeat: no-repeat;
    background-position:  right;
    border: 1px solid transparent;
    z-index: 100;
}
#logos{
    height: 100px;
    width: 28%;
}
#login{
    width: 48%;
    height: 200px;
	float:right;
    vertical-align: bottom;
}


/**************************************/
/*             NAVIGATION             */
/**************************************/

#vista_nula{
    height: 570px;
}

/**************************************/
/*            MAIN CONTENT            */
/**************************************/
.error {
    display:block;
	height: auto;
}
.Rotulo {
    font-weight: bold;
    float: left;
    width: 135px;
    text-align:right;
    margin-bottom:0.5em;
}

form input, form textarea {
    margin-bottom:0.5em;
    margin-left:5px;
}
form fieldset{
    border:1px solid #888;
    
    padding:0px 0px 10px 10px;
    -moz-border-radius:10px;-webkit-border-radius: 10px;border-radius:10px;    
}
form fieldset legend {
	margin:0px 0px 0px 0px;
	border:1px solid #888;padding:3px 3px;

	background:#eee ;
	-moz-border-radius:5px;-webkit-border-radius: 5px;
	border-radius:5px;
	letter-spacing:1px;
	display: block;
	font-weight: bold; font-size:1em;
}


form input,form select, form textarea:not(#Notas){               
    height: 20px;
    /*color:#555555;*/
    border:1px solid #cccccc;    
	/*-webkit-border-radius:1px;-moz-border-radius:1px;border-radius:1px;*/
}

form textarea {
    border:1px solid #cccccc;  
}


/**************************************/
/*               FOOTER               */
/**************************************/
#pie{
    background-image: url(../imagenes/pie.jpg);
	background-repeat: no-repeat;
    height: 86px;
	/*color:#fff;
    font-family: monaco, "Lucida Console", courier, monospace;
    font-weight: bold;
    
    vertical-align: middle;*/
    
}
/*
#pie hr{
    background-color: transparent;
    height: 3px;
}*/
